<div id="personal">
  <ul class="social">
      <li>I put my code on <a href="https://github.com/vikstrous">GitHub</a></li>
      <li>I hang mostly on <a href="https://plus.google.com/106251408068661445285/posts">Google+</a> and <a href="https://twitter.com/{{ site.twitter_user }}">Twitter</a></li>
      <li>I go to school at <a href="https://uwaterloo.ca/" title="University of Waterloo">UWaterloo</a></li>
  </ul>
  <ul class="toolbox">
    <li>You can grab my <a href="{{ site.url }}{{ site.subscribe_rss }}">RSS Feed</a></li>
  </ul>
  <br style="clear:both;">

</div>
