<div id="personal">
  <ul class="social">
    <li>I shift my bits over to <a href="https://github.com/vikstrous">GitHub</a></li>
    <li>I occasionally post on <a href="https://plus.google.com/106251408068661445285/posts">Google+</a> and <a href="https://twitter.com/{{ site.twitter_user }}">Twitter</a></li>
    <li>I reply to &lt;anything&gt;@&lt;this domain&gt;</li>
  </ul>
  <ul class="toolbox">
    <li>You can grab my <a href="{{ site.url }}{{ site.subscribe_rss }}">RSS Feed</a></li>
  </ul>
  <br style="clear:both;">

</div>